<div class="overlay" data-zone="<%= zone.id %>" style="display:none">
    <div class="cards">
        <% if (showIntroCard) { %>
            <div class="card introcard">
                <div class="alignment-message">Align your device!</div>
                <!-- TODO: Add BG image here -->
                <div class="card-visual fullsize" style="background-image: url();"></div>
                <div class="card-content footer">
                    <p>When you enter a quest, you will be asked to align the photo on your device with the environment around you.</p>
                    <button class="introbutton">Get Started</button>
                </div>
            </div>
        <% } %>
        <div class="card-header">
            <div class="alignment-message">Align your device!</div>
            <span class="close-deck">&times;</span>
            <%= audioPlayer %>
        </div>
        <div class="card card-fullimage first">
            <div class="card-visual fullsize" style="background-image: url('<%= primaryPath %><%= zone.primaryItems[0].name %>.jpg');">
            </div>
            <!-- Remove captions at request of client. Keep the structure around in case we want to add them back -->
            <!--
            <div class="card-content slider">
                <%- zone.primaryItems[0].caption %>
                <strong><%- zone.primaryItems[0].credit %></strong>
            </div>
            -->
            <div class="instructions">
                <button class="nextslide">Next</button>
            </div>
        </div>
        <div class="card next">
            <% if (zone.primaryItems[1].type && zone.primaryItems[1].type === 'video') { %>
                <div class="card-visual">
                    <div class="flex">
                        <video controls
                                style="width:100%;"
                                src="<%= mediaPath %><%= zone.primaryItems[1].name %>"
                                poster="<%= mediaPath %><%= zone.primaryItems[1].poster %>">
                        </video>
                        <div class="poster">
                            <div class="poster-inner">
                                <div class="controls"><i class="icon-play"></i></div>
                                <img src="<%= mediaPath %><%= zone.primaryItems[1].poster %>" />
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="card-visual" style="background-image: url('<%= primaryPath %><%= zone.primaryItems[1].name %>.jpg');">
                </div>
                <!-- Remove captions at request of client. Keep the structure around in case we want to add them back -->
                <!--
                <div class="card-content slider">
                    <%- zone.primaryItems[1].caption %>
                    <strong><%- zone.primaryItems[1].credit %></strong>
                </div>
                -->
                <div class="instructions">
                    Swipe left to continue
                </div>
            <% } %>
        </div>
        <% _.each(zone.secondaryItems, function(item) { %>
            <div class="card next">
                <div class="card-visual" style="background-image: url('<%= secondaryPath %><%= item.name %>.jpg');"></div>
                <div class="card-icon"></div>
                <!-- Remove captions at request of client. Keep the structure around in case we want to add them back -->
                <!--
                <div class="card-content slider">
                    <%- item.caption %>
                    <strong><%- item.credit %></strong>
                </div>
                -->
                <div class="instructions">
                    Swipe left to continue
                </div>
            </div>
        <% }); %>
        <div class="card next last">
            <div class="card-visual"></div>
            <div class="card-icon"></div>
            <div class="card-message">
                You just finished the <%= zone.title %> zone. Congrats!
                <div id="finish-zone"><i class="icon-moon"></i> Exit</div>
            </div>
        </div>
    </div>
</div>
