<div class="overlay" style="display:none">
    <div class="cards">
        <div class="card card-fullimage">
            <div class="card-header">
                <a data-navigate="close" class="left">&times;</a>
            </div>
            <div class="card-visual fullsize" style="background-image: url('<%= path %>/images/fullsize.jpg');">
                <h4>New Quest</h4>
                <h2><%= zone.title %></h2>
            </div>
            <div class="card-footer">
                <a href="#" data-navigate="next">Let&#39;s get started&nbsp;&nbsp;&rarr;</a>
            </div>
        </div>
        <div class="card next">
            <div class="card-header">
                <a data-navigate="prev" class="left"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="card-visual" style="background-image: url('<%= path %>/images/halfsize.jpg');">
                <h4>New Quest</h4>
                <h2><%= zone.title %></h2>
            </div>
            <div class="card-content scrollable">
                <%= html %>
            </div>
            <div class="card-footer">
                <a href="#" data-navigate="next">Continue&nbsp;&nbsp;&rarr;</a>
            </div>
        </div>
        <div class="card next">
            <div class="card-header">
                <a data-navigate="prev" class="left"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="card-visual" style="background-image: url('<%= path %>/images/halfsize.jpg');">
                <h4>New Quest</h4>
                <h2><%= zone.title %></h2>
            </div>
            <div class="card-content scrollable">
                <h4>Choose a quest topic</h4>
                <div data-toggle="buttons">
                    <% _.each(zone.quests, function(quest){ %>
                    <label class="btn btn-primary btn-lg btn-block">
                        <input type="radio" name="quest" value="<%= quest %>" /> <%= quest %>
                    </label>
                    <% }); %>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" data-start-quest>Continue&nbsp;&nbsp;&rarr;</a>
            </div>
        </div>
    </div>
</div>
