<div class="overlay" data-zone="<%= zone.id %>" style="display:none">
    <div class="cards">
        <div class="card-header">
            <span class="close-deck">&times;</span>
            <%= audioPlayer %>
        </div>
        <div class="card card-fullimage">
            <div class="card-visual fullsize" style="background-image: url('<%= primaryPath %><%= zone.primaryItems[0].name %>.jpg');">
            </div>
            <div class="card-content slider">
                <%- zone.primaryItems[0].caption %>
                <strong><%- zone.primaryItems[0].credit %></strong>
            </div>
        </div>
        <div class="card next">
            <% if (zone.primaryItems[1].type && zone.primaryItems[1].type === 'video') { %>
                <div class="card-visual">
                    <div class="flex">
                        <video controls
                                style="width:100%;"
                                src="<%= mediaPath %><%= zone.primaryItems[1].name %>"
                                poster="<%= mediaPath %><%= zone.primaryItems[1].poster %>">
                        </video>
                        <div class="poster">
                            <div class="poster-inner">
                                <div class="controls"><i class="icon-play"></i></div>
                                <img src="<%= primaryPath %><%= zone.primaryItems[1].poster %>" />
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="card-visual" style="background-image: url('<%= primaryPath %><%= zone.primaryItems[1].name %>.jpg');">
                </div>
                <div class="card-content slider">
                    <%- zone.primaryItems[1].caption %>
                    <strong><%- zone.primaryItems[1].credit %></strong>
                </div>
            <% } %>
        </div>
        <% _.each(zone.secondaryItems, function(item) { %>
            <div class="card next">
                <div class="card-visual" style="background-image: url('<%= secondaryPath %><%= item.name %>.jpg');"></div>
                <div class="card-icon"></div>
                <div class="card-content slider">
                    <%- item.caption %>
                    <strong><%- item.credit %></strong>
                </div>
            </div>
        <% }); %>
        <div class="card next last">
            <div class="card-visual"></div>
            <div class="card-icon"></div>
            <div class="card-message">
                You just finished the <%= zone.title %> zone. Congrats!
                <div id="finish-zone"><i class="icon-moon"></i> Exit</div>
            </div>
        </div>
    </div>
</div>
